* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  width: auto;
}

iframe {
  border: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}
